/docs
/backend/docs
node_modules
.trae/
.claude/
/backend/migrations/backups

/frontend-user/.git
/frontend-user/node_modules
/frontend-admin/node_modules
/frontend-admin/dist
/frontend-user/dist
/skill
